<h1 class="text-center">Edit the Post Below</h1>

<hr>

<%= render 'form', post: @post %>

<div class="row">

    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
        <%= button_to 'Back', posts_path, method: :get, class: "btn btn-default btn-lg btn-block" %>
    </div>

    <div class="col-xs-6 col-sm-5">
        <%= button_to 'Show', @post, method: :get, class: "btn btn-default btn-lg btn-block" %>
    </div>
    
</div>

